<!--The content below is only a placeholder and can be replaced.-->
<html data-ng-app>
<div style="text-align:center">
  <h1 class="titulo">
    Welcome to {{ title }}!
  </h1>
<div>
<!--  <h3>{{Nombre}}</h3>-->
</div>
<!--  <button (click)="ngOnInit()"> </button>-->

  <h2>calificaciones</h2>
  <table>
  <tr>
<!--	  <td *ngFor="let animal of animales">{{animal.comida}}</td>-->
  </tr>
  
  </table> 
	

	<div><h2>Animales</h2></div>

<ul>
  	<li *ngFor="let animal of Oanimales">
    	El {{animal.nombre}} come {{animal.comida}} <img class="animales" src={{animal.img}} >
  	</li>
</ul>

<form >
 
</form>
</div>

<table id="tabla">
  <th>Nombre</th>
  <th>Apellido</th>
  <th>Direccion</th>
  <th>Colonia</th>
  <th>Carrera</th>
  <tr *ngFor="let alumno of Oalumnos">
  	<td>{{alumno.nombre}}</td>
  	<td>{{alumno.apellido}}</td>
  	<td>{{alumno.direccion}}</td>
  	<td>{{alumno.colonia}}</td>
  	<td>{{alumno.carrera}}</td>
  	<table>
  			<th>Materia</th>
  			<th>Calificacion</th>
  			<tr *ngFor="let detalle of alumno.calificaciones">
				<td>{{detalle.materia}}</td>
  				<td>{{detalle.calificacion}}</td>
  			</tr>
	</table>
  	</tr>
</table>



<router-outlet></router-outlet>
</html>