<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

<div style="text-align:center">
  <h1 class="titulo">
    Welcome to {{ title }}!
  </h1>
  <h2>calificaciones</h2>
	<div><h2>Animales</h2></div>

<ul>
  	<li *ngFor="let animal of Oanimales">
    	El {{animal.nombre}} come {{animal.comida}} <img class="animales" src={{animal.img}} >
  	</li>
</ul>

</div>

<table id="tabla">
  <th>Nombre</th>
  <th>Apellido</th>
  <th>Direccion</th>
  <th>Colonia</th>
  <th>Carrera</th>
  <tr *ngFor="let alumno of Oalumnos" >
  	<td>{{alumno.nombre}}</td>
  	<td>{{alumno.apellido}}</td>
  	<td>{{alumno.direccion}}</td>
  	<td>{{alumno.colonia}}</td>
  	<td >{{alumno.carrera}}</td>

  	<table id = "tdetalle" class="visible">
  			<th>Materia</th>
  			<th>Calificacion</th>
  			<tr *ngFor="let detalle of alumno.calificaciones">
				<td>{{detalle.materia}}</td>
  				<td>{{detalle.calificacion}}</td>
  			</tr>
	   </table>
  	</tr>
</table >

<div  *ngFor = "let generales of ODatosUni" id = "dgenerales">
	   Nombre: {{generales.nombre}}<br>
	   Direccion: {{generales.direccion}}<br>
	   Telefono: {{generales.telefono}}<br>
	   Correo:{{generales.correo}}<br>
	   Materia:{{generales.materia}}
</div>
<script>
function mostrar() {
	alert("Hola");
	var elemento = document.getElementById("tdetalle");
    if (elemento.className=="visible"){
      			elemento.className = "oculto";
  	}else{  elemento.className = "visible";

		}
}
  document.addEventListener('readystatechange', function() {
    if (document.readyState === "complete") {
          mostrar();
        }
      });
</script>
<router-outlet></router-outlet>
</body>
</html>